body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: #313131;
    text-align: center;
    background-image: url("coding-skills-02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;;



}


h2 {

	font-size: 1.5em;
	font-weight: 600;
	
}


form {
	margin: 40px 0px 100px 60px;
	display: inline-block;
	background-color: rgba(240,240,240,0.7);

}


#f {
	text-align: left;
	
}

#h {
	margin: auto;
	width: auto;
	height: 60px;
	text-align: center;
	background-color: ;
	color: black;
	overflow: visible;
	z-index: 1000;
	background-color: rgba(240,240,240,0.7);
	padding-top: 25px;

}



h3 {
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-left:  20px;
}


i {
	opacity: 1;
	color: white;

}

a {
	text-decoration: none;
	color: white;
}
button { 
	background-color: red;
    display: inline-block;
    border: none; 
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    color: white;
    height: 40px;
    size: 30px;
}

textarea {
	border-radius: 10px;
}

input{
	border-radius: 5px;
	margin-left: 20px;
}

#b1 {

	margin-left: 140px;
}
#b2 {
	margin-left: 20px;
}
