<!DOCTYPE html>
	<html>

	<head>
		<title>Mayank</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='angelHack.css') }}"/>
		<!-- <script type='text/javascript' src='angelHack.js'></script> -->
	
		
	</head>

	<body>
		
	<nav class= "navbar">
		<div class= "divider"></div>
		<span style= "cursor:pointer">
		
		<h2 id= "h1"> Home </h2> 
		<h2 id= "h2"> Notifications</h2> 
		<h2 id= "h3"> Account </h2> 
		
		</span>
	</nav>

	<div class= "profile" id= "generalProfile" >
		<h1>Name:</h1>
		<h1>Email-id:</h1>
		<h1>CodeBook Rating:</h1>
		<h1>CodeBook Rank:</h1>
	</div>



	<div id="userHandle" class="Sections" >

	<h3>User Handle:</h3><br>
 		<div id = 'userTable'>

			<table class="t1">

			<thead>
			<tr>
			<td id = "h">Judge</td>
			<td id = "h">Handle </td>
			<td id = "h">Rating</td>
		
			</tr>
			</thead>
	
				<tbody>
				<tr>
				<td id = "one">Hackerank</td>
				<td id = "two">{{handles.hackerrank}}</td>
				<td id = "one">{{res.hackerrank}}</td>
				</tr>

				<tr>
				<td id = "two">Codeforces</td>
				<td id = "one">{{handles.codeforces}}</td>
				<td id = "two">{{res.codeforces}}</td>
					
				</tr>

				<tr>
				<td id = "one">CodeChef</td>
				<td id = "two">{{handles.codechef}}</td>
				<td id = "one">{{res.codechef}}</td>
				</tr>

				</tbody>
			</table>
		</div>

 </div>
 	
 	
	<div class= "profile" id= "personalInfo">

		<h3>Personal Information</h3><br>

		<h1>Age:</h1>
		<h1>Location:</h1>
		
	</div>

	


</body>
</html>