<!DOCTYPE html>
	<html>
		<head>
		<title>Login Page</title>
		<link rel="stylesheet" type="text/css" href="loginpage.css"/>
		</head>

<body>



	<form>
	<div id = "f">

	
	<h1 id="h">LOGIN</h1>
		


	<h3>FIRST NAME:</h3>
	<input type= "text" name="firstname" ><br><br>

	<h3>LAST NAME:</h3>
	<input type= "text" name="lastname" ><br><br>


	<h3>GENDER:</h3>
	
	<input type= "radio" name= "gender" value= "male" checked> Male<br>
	<input type= "radio" name= "gender" value= "female" checked> Female<br><br>

	<h3>BIRTHDAY:</h3>
  	<input type="date" name="bday"><br><br>

  	<h3>CONTACT NO:</h3>
	<input type= "tel" name= "usertel"><br><br>
	
	<h3>E-MAIL ID:</h3>
	<input type= "email" name= "email"><br><br>

	<h3>PASSWORD:</h3>
  	<input type="password" name="psw"><br><br>

	<h3>DESCRIBE YOURSELF</h3>
	<textarea name= "messsage" rows= "10" cols= "60"></textarea><br><br>

	
	<button id="b1" onclick= "alert('Your form has been submitted')" value="Submit">SUBMIT</button>
	<button id="b2">RESET</button><br><br>

	
	<i>Already signed up,<a href= "home.html"> click here</a></i>

	</div>
	</form>
</body>
</html>
