<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>

<body>
	<h1> LOGIN </h1>

	<form action="/login" method='post'>
		Username: <input type="text" name="username" required ><br>
		Password: <input type="password" name="password" required><br>
		<input type="submit" name="SUBMIT">
	</form>
	
	{% if success %}
		{{success}}
	{% endif %}

	<br><br><br>
 	<button id="#reg"> REGISTER </button>

 	<script type="text/javascript">

    document.getElementById("#reg").onclick = function() {
        location.href = "/register";
    };

 	</script>

</body>
</html>