<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<title>Hello</title>
</head>
<body>
	<h1> Hello, {{user.name}} </h1>
	<a href="{{user}}/logout"> Logout</a>
	<form action="/profile/{{user}}" method="post">
		codechef<input type="text" name="codechef" />
		codeforces<input type="text" name="codeforces" />
		hackerrank<input type="text" name="hackerrank" />
		<button type="submit">Submit</button>
	</form>
	{{msg}} <br />
	codechef: {{handles.codechef}}, {{ratings.codechef}} <br />codeforces: {{handles.codeforces}}, {{ratings.codeforces}}<br />hackerrank: {{handles.hackerrank}}, {{ratings.hackerrank}}
	<div>{{final_rating}}</div>
</body>
